manifest {
    name = 'nf-myco_annotation'
    version = '0.1.0'
    nextflowVersion = '>=25.04.8'
}

params {
    sample_csv = null
    metadata = null
    taxdump = null
    checkm2_db = null
    barrnap_kingdom = 'bac'
    busco_lineages = ['bacillota_odb12', 'mycoplasmatota_odb12']
    busco_primary_column = null
    busco_download_dir = null
    eggnog_db = null
    outdir = 'results'
    ani_threshold = 0.95
    use_biocontainers = true
}

includeConfig 'conf/base.config'
includeConfig 'conf/local.config'
includeConfig 'conf/slurm.config'
includeConfig 'conf/docker.config'
includeConfig 'conf/apptainer.config'

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }

    slurm {
        process.executor = 'slurm'
    }

    apptainer {
        apptainer.enabled = true
    }
}
