manifest {
    name = 'nf-myco_annotation'
    version = '0.1.0'
    nextflowVersion = '>=25.04.8'
}

params {
    sample_csv = null
    metadata = null
    taxdump = null
    checkm2_db = null
    barrnap_kingdom = 'bac'
    busco_lineages = ['bacillota_odb12', 'mycoplasmatota_odb12']
    busco_primary_column = null
    busco_download_dir = null
    prepare_busco_datasets = false
    outdir = 'results'
    use_biocontainers = true
    max_retries = 2
    max_cpus = 8
    max_memory = 64.GB
    max_time = 24.h
    python_container = 'python:3.12-slim'
    seqtk_container = 'quay.io/biocontainers/seqtk:1.4--he4a0461_2'
    barrnap_container = 'quay.io/biocontainers/barrnap:0.9--hdfd78af_4'
    checkm2_container = 'quay.io/biocontainers/checkm2:1.0.2--pyhdfd78af_1'
    busco_container = 'quay.io/biocontainers/busco:5.8.3--pyhdfd78af_0'
}

includeConfig 'conf/base.config'
includeConfig 'conf/local.config'
includeConfig 'conf/slurm.config'
includeConfig 'conf/docker.config'
includeConfig 'conf/apptainer.config'

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }

    slurm {
        process.executor = 'slurm'
    }

    apptainer {
        apptainer.enabled = true
    }
}
