manifest {
    name = 'nf-myco_annotation'
    version = '0.1.0'
    nextflowVersion = '>=25.04.8'
}

params {
    sample_csv = null
    metadata = null
    taxdump = null
    taxdump_label = null
    checkm2_db = null
    checkm2_db_label = null
    eggnog_db = null
    eggnog_db_label = null
    padloc_db_label = null
    barrnap_kingdom = 'bac'
    busco_lineages = ['bacillota_odb12', 'mycoplasmatota_odb12']
    busco_primary_column = null
    busco_download_dir = null
    prepare_busco_datasets = false
    ccfinder_root = '/usr/local/CRISPRCasFinder'
    ccfinder_cpu_macsyfinder = 30
    ccfinder_extra_args = ''
    padloc_extra_args = ''
    eggnog_extra_args = ''
    ani_threshold = 0.95
    outdir = 'results'
    use_biocontainers = true
    max_retries = 2
    max_cpus = 8
    max_memory = 64.GB
    max_time = 24.h
    slurm_queue = null
    slurm_account = null
    slurm_cluster_options = null
    executor_queue_size = 100
    apptainer_cache_dir = null
    apptainer_run_options = ''
    python_container = 'python:3.12-slim'
    seqtk_container = 'quay.io/biocontainers/seqtk:1.4--he4a0461_2'
    barrnap_container = 'quay.io/biocontainers/barrnap:0.9--hdfd78af_4'
    checkm2_container = 'quay.io/biocontainers/checkm2:1.0.2--pyhdfd78af_1'
    busco_container = 'quay.io/biocontainers/busco:5.8.3--pyhdfd78af_0'
    prokka_container = null
    ccfinder_container = null
    padloc_container = null
    eggnog_container = null
    fastani_container = null
}

includeConfig 'conf/base.config'
includeConfig 'conf/local.config'
includeConfig 'conf/slurm.config'
includeConfig 'conf/test.config'
includeConfig 'conf/docker.config'
includeConfig 'conf/apptainer.config'

profiles {
    local {
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
    }

    slurm {
        process.executor = 'slurm'
    }

    test {
        process.executor = 'local'
    }

    apptainer {
        apptainer.enabled = true
    }
}
