process {
    shell = ['/bin/bash', '-euo', 'pipefail']
    executor = 'local'
    errorStrategy = { task.attempt <= params.max_retries ? 'retry' : 'terminate' }
    maxRetries = params.max_retries
    maxErrors = -1
    cpus = { Math.min(1, params.max_cpus as int) }
    memory = { [2.GB * task.attempt, params.max_memory].min() }
    time = { [1.h * task.attempt, params.max_time].min() }

    withLabel: process_single {
        cpus = { Math.min(1, params.max_cpus as int) }
        memory = { [2.GB * task.attempt, params.max_memory].min() }
        time = { [1.h * task.attempt, params.max_time].min() }
    }

    withLabel: process_medium {
        cpus = { Math.min(4 * task.attempt, params.max_cpus as int) }
        memory = { [8.GB * task.attempt, params.max_memory].min() }
        time = { [4.h * task.attempt, params.max_time].min() }
    }

    withLabel: process_high {
        cpus = { Math.min(8 * task.attempt, params.max_cpus as int) }
        memory = { [32.GB * task.attempt, params.max_memory].min() }
        time = { [12.h * task.attempt, params.max_time].min() }
    }

    withName: VALIDATE_INPUTS {
        errorStrategy = 'terminate'
        maxRetries = 0
        container = params.use_biocontainers ? params.python_container : null
    }

    withName: STAGE_INPUTS {
        container = params.use_biocontainers ? params.seqtk_container : null
    }

    withName: BARRNAP {
        container = params.use_biocontainers ? params.barrnap_container : null
    }

    withName: CHECKM2 {
        container = params.use_biocontainers ? params.checkm2_container : null
    }

    withName: ASSIGN_GCODE_AND_QC {
        container = params.use_biocontainers ? params.python_container : null
    }

    withName: DOWNLOAD_BUSCO_DATASET {
        errorStrategy = 'terminate'
        container = params.use_biocontainers ? params.busco_container : null
    }

    withName: BUSCO {
        container = params.use_biocontainers ? params.busco_container : null
    }
}

timeline {
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}

report {
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}

trace {
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
}

dag {
    enabled = true
    file = "${params.outdir}/pipeline_info/dag.html"
}
