profiles {
    docker {
        docker.enabled = true
        apptainer.enabled = false

        process {
            withName: CCFINDER {
                container = params.ccfinder_container
                containerOptions = System.getProperty('os.arch') in ['aarch64', 'arm64']
                    ? '--platform linux/amd64'
                    : ''
            }
        }
    }
}
