profiles {
    oist {
        params {
            config_profile_description = 'The Okinawa Institute of Science and Technology Graduate University (OIST) HPC cluster profile provided by nf-core/configs.'
            config_profile_contact = 'OISTs Bioinformatics User Group <BioinfoUgrp@oist.jp>'
            config_profile_url = 'https://github.com/nf-core/configs/blob/master/docs/oist.md'
            max_memory = 500.GB
            max_cpus = 128
            max_time = 2.h
        }

        process.executor = 'slurm'
        executor.queueSize = params.executor_queue_size
        process.queue = params.slurm_queue ?: 'short'
        process.clusterOptions = [
            params.slurm_account ? "--account=${params.slurm_account}" : null,
            params.slurm_cluster_options ?: null,
        ].findAll { it != null }.join(' ')
        process.resourceLimits = [
            memory: 500.GB,
            cpus: 128,
            time: 2.h,
        ]
        singularity.enabled = true
        singularity.autoMounts = true
        singularity.cacheDir = params.singularity_cache_dir ?: null
        docker.enabled = false
        process.containerOptions = params.singularity_run_options ?: ''

        process {
            withLabel: process_medium {
                cpus = { Math.min(16 * task.attempt, params.max_cpus as int) }
                memory = { [64.GB * task.attempt, params.max_memory].min() }
                time = { [12.h * task.attempt, params.max_time].min() }
            }

            withLabel: process_high {
                cpus = { Math.min(64 * task.attempt, params.max_cpus as int) }
                memory = { [200.GB * task.attempt, params.max_memory].min() }
                time = { [24.h * task.attempt, params.max_time].min() }
            }
        }
    }
}
