includeConfig "${projectDir}/external/nf-helper/conf/sites/oist.config"

profiles {
    oist {
        params {
            max_memory = 500.GB
            max_cpus = 128
            max_time = 2.h
        }

        process {
            queue = params.slurm_queue ?: 'short'
            resourceLimits = [
                memory: 500.GB,
                cpus: 128,
                time: 2.h,
            ]
            containerOptions = params.singularity_run_options ?: ''

            withLabel: process_medium {
                cpus = { Math.min(16 * task.attempt, params.max_cpus as int) }
                memory = { [32.GB * task.attempt, params.max_memory].min() }
                time = { [2.h * task.attempt, params.max_time].min() }
            }

            withLabel: process_high {
                cpus = { Math.min(128 * task.attempt, params.max_cpus as int) }
                memory = { [500.GB * task.attempt, params.max_memory].min() }
                time = { [2.h * task.attempt, params.max_time].min() }
            }
        }

        singularity {
            cacheDir = params.singularity_cache_dir ?: null
        }
    }
}
