profiles {
    slurm {
        process.executor = 'slurm'
        executor.queueSize = params.executor_queue_size
        process.queue = params.slurm_queue
        process.clusterOptions = [
            params.slurm_account ? "--account=${params.slurm_account}" : null,
            params.slurm_cluster_options ?: null,
        ].findAll { it != null }.join(' ')
    }
}
