profiles {
    test {
        params {
            sample_csv = "${projectDir}/assets/testdata/stub/sample_sheet.csv"
            metadata = "${projectDir}/assets/testdata/stub/metadata.tsv"
            taxdump = "${projectDir}/assets/testdata/stub/taxdump"
            taxdump_label = "stub-taxdump"
            checkm2_db = "${projectDir}/assets/testdata/stub/checkm2_db"
            checkm2_db_label = "stub-checkm2-db"
            busco_download_dir = "${projectDir}/assets/testdata/stub/busco"
            eggnog_db = "${projectDir}/assets/testdata/stub/eggnog_db"
            eggnog_db_label = "stub-eggnog-db"
            padloc_db_label = "stub-padloc-db"
            outdir = "${projectDir}/results-test"
            use_biocontainers = false
            max_cpus = 2
            max_memory = 4.GB
            max_time = 2.h
        }
    }
}
