includeConfig "${projectDir}/external/nf-helper/conf/sites/viper-cpu.config"

profiles {
    'viper-cpu' {
        process {
            withName: 'DOWNLOAD_BUSCO_DATASET|PREP_TAXDUMP_DATABASE|PREP_CODETTA_DATABASE|DOWNLOAD_CHECKM2_DATABASE|DOWNLOAD_BUSCO_DATABASES|DOWNLOAD_EGGNOG_DATABASE' {
                executor = 'local'
                cpus = 1
                memory = 16.GB
                time = 24.h
                scratch = false
                resourceLimits = [
                    memory: 16.GB,
                    cpus: 1,
                    time: 24.h,
                ]
            }
        }
    }
}
